#!/usr/bin/env
CONFIG_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )

source $CONFIG_DIR/config.sh

CKAN_TITLE="Портал за отворени данни"
LOCALE=bg
LOCALES_ORDER="bg en"
FAVICON_RELATIVE_URL=/favicon.ico
